.App{
  margin-top: 100px;
  display: block;

}

.ProfilePage {
  padding-top: 50px;
  background-color: #282c34;
  border-radius: 20px;
  width: fit-content;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}
.ImgProfil{
  border-radius: 100px;
  width: 50px;
}

.LocalisationTitle {
  color: rgb(231, 231, 91);
}

.ButtonOption {
  display: inline-block;
  border-radius: 30px ;
  padding: 10px 20px;
  margin: 5px;
  width: 200px;
  height: 35px;
  background-color: #282c34;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
}

.ButtonOption:hover {
  background-color: #9ad22c;
}

.row {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  
  display:inline-grid;
}
